<h1>Vape on the Green</h1>
<div class="shop-img"><img src="//cdn.shopify.com/s/files/1/0290/5629/files/image-first.jpg?15105369073528769300" alt="" /></div>
<div class="shop-title">
<p><span class="blue"><a href="tel:02036016966">0203 601 6966</a></span></p>
<p>Manager: Arran</p>
</div>
<div class="shop-address">
<p class="addr"><strong>Address: 12 Wades Hill, London N21 1BG </strong></p>
<p class="open-times">Opening Time: Mon-Fri: 9am-6pm, Sat: 10am-6pm, Sun: 10am-4pm</p>
</div>
<p><img src="https://cdn.shopify.com/s/files/1/0290/5629/files/IMG_9791_5962fa6a-3702-4a9c-89b4-f8c659a5814a.JPG?6787214147046602043" alt="Not Found"  /></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p><img src="https://cdn.shopify.com/s/files/1/0290/5629/files/IMG_9797.JPG?6787214147046602043" alt="Not Found"  /></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>