<header class="site-header header-layout-2 {% if settings.header_sticky_enable %}header-sticky-enable{% endif %} {% if settings.header_fixed_enable %}fixed{% endif %}">

	{% if settings.promotion_bar_enable %}
		{% section 'tp-section-header-promotion-bar' %}
	{% endif %}

  {% comment %} ===== Header Top ===== {% endcomment %}
  <div class="header-top hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 header-static-block">
          {% section 'tp-section-header-text' %}
        </div>
        <div class="col-sm-6 header-top-right">
          {% include 'header-currency' %}
          {% section 'tp-section-header-top-link' %}
        </div>
      </div>
    </div>
  </div>

  {% comment %} ===== Header Main ===== {% endcomment %}
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="row-table">
          	<div class="col-xs-3 hidden-md hidden-lg site-header-toolbox">
            	<span class="mobile-navi-toggle">{{ 'layout.navigation.menu' | t }}</span>
          	</div>
          	<div class="col-md-4 hidden-xs hidden-sm site-header-search">
            	{% include 'search-bar' %}
          	</div>
          	<div class="col-xs-6 col-md-4 site-header-logo-wrap">
            	{% include 'header-logo' %}
          	</div>
          	<div class="col-xs-3 col-md-4 site-header-toolbox">
            	{% include 'header-cart' %}
          	</div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} ===== Header Navigation ===== {% endcomment %}
  <div class="header-navigation">
    <div class="container">
      	<nav class="site-nav-wrapper">
        	{% include 'header-mobile-toolbox' %}
        	{% section 'tp-section-navigation' %}
      	</nav>
    </div>
  </div>
</header>
