{% if settings.pd_facebook_comment %}
  <div class="tp-block nt-facebook-comment">

    <script>
    document.write("<div class='fb-comments' data-href='"+window.location.href+"' data-width='100%' data-order-by='reverse_time' data-numposts='5' data-colorscheme='light'></div>");
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>
{% endif %}