<div class="page-typography">

  <div class="tp-page-heading"><h1>{{ page.title }}</h1></div>

    <!-- Font -->
    <h2 class="tp-title-block">Font</h2>
    <div class="row">
      <div class="col-md-12">
        <h3 class="tp-title-sub">Font Family For Body</h3>
        <pre>{{ settings.fonts_name_1 }}</pre>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
        </p>
        <h3 class="tp-title-sub">Font Family For Heading</h3>
        <pre>{{ settings.fonts_name_2 }}</pre>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <br>
        <h3 class="tp-title-sub">Font Family For Special Text</h3>
        <pre>{{ settings.fonts_name_3 }}</pre>
        <p class="text-special">
          "Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur"
        </p>
      </div>
    </div>
    <hr>

    <!--Paragraph-->
    <h2 class="tp-title-block">Paragraph</h2>
    <div class="row">
      <div class="col-md-12">
        <p>Roboto Regular 12pt / Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <ol>
          <li>Neque porro quisquam est</li>
          <li>Sed ut perspiciatis unde omnis</li>
          <li>Ut enim ad minima veniam</li>
          <li>Neque porro quisquam est</li>
        </ol>
        <blockquote>
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam
        </blockquote>
        <ul>
          <li>Neque porro quisquam est</li>
          <li>Sed ut perspiciatis unde omnis</li>
          <li>Ut enim ad minima veniam</li>
          <li>Neque porro quisquam est</li>
        </ul>
      </div>
    </div>
    <hr>
  
    <!-- Button -->
    <h2 class="tp-title-block">Buttons</h2>
    <div class="row">
      <div class="col-md-12">
        <h4>Button default</h4>
        <button class="btn btn-small" type="button">Small Button</button>&nbsp;
        <button class="btn" type="button">Button</button>&nbsp;
        <button class="btn btn-large" type="button">Large Button</button>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-md-12">
        <h4>Button secondary (Border button)</h4>
        <button class="btn-secondary btn-small" type="button">Small Button</button>&nbsp;
        <button class="btn-secondary " type="button">Medium Button</button>&nbsp;
        <button class="btn-secondary btn-large" type="button">Large Button</button>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-md-12">
        <h4>Button With icon</h4>
        <button class="btn-addtocart btn-small">
          <i class="fa fa-shopping-cart"></i>Add to cart
        </button>&nbsp;
        <button class="btn-addtocart">
          <i class="fa fa-shopping-cart"></i>Add to cart
        </button>&nbsp;
        <button class="btn-addtocart btn-large">
          <i class="fa fa-shopping-cart"></i>Add to cart
        </button>
      </div>
    </div>
    <hr>

    <!--Table-->
    <h2 class="tp-title-block">Table Style</h2>
    <div class="row">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Date</th>
              <th>Ship To</th>
              <th>Order Total</th>
              <th>Order Status</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
               <td>000001</td>
               <td>6/10/2015</td>
               <td>$100.00</td>
               <td>Pending</td>
               <td><a title="View Order" href="#">View Order</a><a title="Re-order" href="#">Re-order</a></td>
               <td></td>
            </tr>
             <tr>
               <td>000001</td>
               <td>6/10/2015</td>
               <td>$100.00</td>
               <td>Pending</td>
               <td><a title="View Order" href="#">View Order</a><a title="Re-order" href="#">Re-order</a></td>
               <td></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <hr>

    <!--form-->
    <h2 class="tp-title-block">Form</h2>
    <div class="row">
      <div class="col-md-6">
        <form method="post" action="/"  accept-charset="UTF-8">
          <div class="form-group">
            <label>Company</label>
            <input type="text" value="Company Name" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Country</label>
            <select class="form-control">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea rows="4" cols="50" class="form-control"></textarea>
          </div>
          <p><input type="checkbox" name="vehicle" value="Ship to my building address" checked="checked" />Ship to my building address</p>
          <p><input type="radio" name="test1" checked="checked" /> Free shipping</p>
          <p><input type="radio" name="test1"/> UPS 2 Days</p>
          <p><input class="btn btn-solid" type="submit" value="Submit" /></p>
        </form>
      </div>
    </div>
    <hr>

    <!--Message -->
    <h2 class="tp-title-block">Message</h2>
    <div class="row">
      <div class="col-md-12">
        <h3>Error messages</h3>
        <div class="tp-message error">This is the sample of error message displaying.</div>
        <h3>Success messages</h3>
        <div class="tp-message success">This is the sample of success message displaying.</div>
        <h3>Warning messages</h3>
        <div class="tp-message warning">This is the sample of warning message displaying.</div>
      </div>
    </div>
    <hr>

    <!--Headings-->
    <h2 class="tp-title-block">Section Heading</h2>  
    <div class="row">
      <div class="col-md-12">
        <h4>Style 1</h4>
        <div class="tp-block-heading">
          <h3><span>Section Heading</span></h3>
        </div>
      </div>
    </div>
    <hr>

    <!-- Block Sidebar -->
    <h2 class="tp-title-block">Block Sidebar</h2>  
    <div class="row">
      <div class="col-md-3">
        <div class="tp-sidebar-block">
          <div class="tp-sidebar-heading">
            <h3><a href="#" title="Block Heading">Block Sidebar Heading</a></h3>
          </div>
          <div class="tp-sidebar-content">
            <p>Sidebar Content - Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <!-- Products Grid -->
    <h2 class="tp-title-block">Products item</h2>
    <div class="row">
      <!-- Default -->
      <div class="col-md-12">
        <div class="tp-product-grid">
          {% comment %}
            Loop through products in your Frontpage collection.
            This collection is created by default, but you must add products to it.
          {% endcomment %}
          {% for product in collections.frontpage.products limit:4 %}
            {% include 'product-grid-item' %}
          {% endfor %}

        </div>
      </div>
     
    </div>

    <hr>

    <!-- Accordion -->
    <h2 class="tp-title-block">accordion</h2>
    <div class="tp-col">
      <div class=" panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
                <i class="fa fa-plus"></i>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
                <i class="fa fa-plus"></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
                <i class="fa fa-plus"></i>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
</div>

